<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VatTu.Properties.Settings.QLVT_DATHANGConnectionString"
      connectionString="Data Source=DESKTOP-8M2NJ75;Initial Catalog=QLVT_DATHANG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VatTu.Properties.Settings.QLVT_DATHANGConnectionString1"
      connectionString="Data Source=DESKTOP-8M2NJ75\MSSQLSERVER1;Initial Catalog=QLVT_DATHANG;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_DATHANGConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-8M2NJ75\MSSQLSERVER1;user id=sa;password=123;initial catalog=QLVT_DATHANG;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>